{% extends "layout.html" %}
{% block content %}
<h2>Thank you for visiting!</h2>
<div class="content-section">
    <h6>New River Valley Event Calendar: NRVExpressSharedCalendar@gmail.com</h6>
    <h6>Montgomery County Event Calendar: MontgomeryNRVSharedCalendar@gmail.com</h6>
    <h6>Giles County Event Calendar: GilesSharedCalendar@gmail.com</h6>
    <h6>Pulaski County Event Calendar: pulaskisharedcalendar@gmail.com</h6>
    <h6>Floyd County Event Calendar: floydcountySharedCalendar@gmail.com</h6>
    <h6>Radford City Event Calendar: radfordgroupcalendar@gmail.com</h6>
    <br /> <br />
    <h6>Developer: kvan@ataxxia.com</h6>
</div>
{% endblock content %}