{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="media">
        <div class="media-body">
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <img class="card-img-top" src=" {{ home_imgs[0] }} " alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Checkout the highlights from each part of the New River Valley!</p>
                            <a href="{{ url_for('main.locations') }}" class="btn btn-primary">Locations</a>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <img class="card-img-top" src="{{ home_imgs[1] }}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="{{ url_for('main.event_calendar') }}" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <img class="card-img-top" src="{{ home_imgs[2] }}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="{{ url_for('main.blog') }}" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <img class="card-img-top" src="{{ home_imgs[3] }}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="{{ url_for('users.account') }}" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}