{% extends "layout.html" %}
{% block content %}
    <h3>Places in the New River Valley</h3>
    <div class="container pl-2">
        <div class="row mt-2 mb-2 mr-2">
            <div class="col-md-auto">
                <img src="{{ loc_imgs[0] }}" alt="Radford">
            </div>
            <div class="col-xl-2">
                <p>Radford, Virginia</p>
                <p>Highlights: 
                    <ul>
                        <li><button class="btn btn-outline-secondary mb-1" href="https://radford.edu" target="_blank">Radford University</button></li>
                        <li><button class="btn btn-outline-secondary mb-1" href="https://www.radfordva.gov/Facilities/Facility/Details/Bisset-Park-5" target="_blank">Bisset Park</button></li>
                        <li><button class="btn btn-outline-secondary mb-1" href="https://www.dcr.virginia.gov/state-parks/claytor-lake" target="_blank">Claytor Lake</button></li>  
                    </ul></p>
            </div>
        </div> 
        <div class="row mt-2 mb-2 mr-2">
            <div class="col-md-auto">
                <img src="{{ loc_imgs[1] }}" alt="Pulaski">
            </div>
            <div class="col-xl-2">
                <p>Pulaski, Virginia</p>
                <p>Highlights 
                    <ul>
                        <li><button class="btn btn-outline-secondary mb-1" href="https://www.dcr.virginia.gov/state-parks/new-river-trail" target="_blank">New River Trail</button></li>
                        <li><button class="btn btn-outline-secondary mb-1" href="http://randolphpark.org/" target="_blank">Randolph Park</button></li> 
                        <li><button class="btn btn-outline-secondary mb-1" href="https://www.virginia.org/listings/Museums/DCWysorObservatoryandMuseum/" target="_blank">D. C. Observatory Museum</button></li>
                    </ul></p>
            </div>
        </div> 
        <div class="row mt-2 mb-2 mr-2">
            <div class="col-md-auto">
                <img src="{{ loc_imgs[2] }}" alt="Giles">
            </div>
            <div class="col-xl-2">
                <p>Giles, Virginia</p>
                <p>Highlights: 
                    <ul>
                        <li><button class="btn btn-outline-secondary mb-1" href="https://www.alltrails.com/trail/us/virginia/cascades-falls-trail" target="_blank">Cascade Falls</button></li>
                        <li><button class="btn btn-outline-secondary mb-1" href="https://virginiasmtnplayground.com/dismal-falls/" target="_blank">Dismal Falls</button></li> 
                        <li><button class="btn btn-outline-secondary mb-1" href="https://www.mtnlakelodge.com/" target="_blank">Mountain Lake</button></li>
                    </ul></p>
            </div>
        </div> 
        <div class="row md-auto mt-2 mb-2 mr-2">
            <div class="col-md-auto">
                <img src="{{ loc_imgs[3] }}" alt="Floyd">
            </div>
            <div class="col-xl-2">
                <p>Floyd, Virginia</p>
                <p>Highlights: 
                    <ul>
                        <li><button class="btn btn-outline-secondary mb-1" href="https://www.floydartcenter.org/" target="_blank">Center for Arts</button></li>
                        <li><button class="btn btn-outline-secondary mb-1" href="https://www.floydhistoricalsociety.org/" target="_blank">Floyd Historical Society</button></li> 
                        <li><button class="btn btn-outline-secondary mb-1" href="https://www.virtualblueridge.com/parkway-place/rakes-mill-pond/" target="_blank">Rakes Mill Pond</button></li>
                    </ul></p>
            </div>
        </div> 
        <div class="row mt-2 mb-2 mr-2">
            <div class="col-md-auto">
                <img src="{{ loc_imgs[4] }}" alt="Montgomery>">
            </div>
            <div class="col-xl-2">
                <p>Montgomory, Virginia</p>
                <p>Highlights: 
                    <ul>
                        <li><button class="btn btn-outline-secondary mb-1" href="https://vt.edu" target="_blank">Virginia Tech</button></li>
                        <li><button class="btn btn-outline-secondary mb-1" href="https://www.christiansburg.org/" target="_blank">Christansburg</button></li> 
                        <li><button class="btn btn-outline-secondary mb-1" href="https://www.blacksburg.gov/" target="_blank">Blacksburg</button></li>
                    </ul></p>
            </div>
        </div> 
    </div>
{% endblock content %}