{% extends "layout.html" %}
{% block content %}
    <h3>Places in the New River Valley</h3>
    <div class="container pl-2">
        <div class="row mt-2 mb-2 mr-2">
            <div class="col-md-auto">
                <img src="{{ loc_imgs[0] }}" alt="Radford">
            </div>
            <div class="col-xl-2">
                <p>Radford, Virginia</p>
                <p>Highlights: 
                    <ul>
                        <li><a href="https://radford.edu" target="_blank"><button class="btn btn-outline-secondary mb-1">Radford University</button></a></li>
                        <li><a href="https://www.radfordva.gov/Facilities/Facility/Details/Bisset-Park-5" target="_blank"><button class="btn btn-outline-secondary mb-1">Bisset Park</button></a></li>
                        <li><a href="https://www.dcr.virginia.gov/state-parks/claytor-lake" target="_blank"><button class="btn btn-outline-secondary mb-1">Claytor Lake</button></a></li>  
                    </ul></p>
            </div>
        </div> 
        <div class="row mt-2 mb-2 mr-2">
            <div class="col-md-auto">
                <img src="{{ loc_imgs[1] }}" alt="Pulaski">
            </div>
            <div class="col-xl-2">
                <p>Pulaski, Virginia</p>
                <p>Highlights 
                    <ul>
                        <li><a href="https://www.dcr.virginia.gov/state-parks/new-river-trail" target="_blank"><button class="btn btn-outline-secondary mb-1">New River Trail</button></a></li>
                        <li><a href="http://randolphpark.org/" target="_blank"><button class="btn btn-outline-secondary mb-1">Randolph Park</button></a></li> 
                        <li><a href="https://www.virginia.org/listings/Museums/DCWysorObservatoryandMuseum/" target="_blank"><button class="btn btn-outline-secondary mb-1">D. C. Observatory Museum</button></a></li>
                    </ul></p>
            </div>
        </div> 
        <div class="row mt-2 mb-2 mr-2">
            <div class="col-md-auto">
                <img src="{{ loc_imgs[2] }}" alt="Giles">
            </div>
            <div class="col-xl-2">
                <p>Giles, Virginia</p>
                <p>Highlights: 
                    <ul>
                        <li><a href="https://www.alltrails.com/trail/us/virginia/cascades-falls-trail" target="_blank"><button class="btn btn-outline-secondary mb-1">Cascade Falls</button></a></li>
                        <li><a href="https://virginiasmtnplayground.com/dismal-falls/" target="_blank"><button class="btn btn-outline-secondary mb-1">Dismal Falls</button></a></li> 
                        <li><a href="https://www.mtnlakelodge.com/" target="_blank"></a><button class="btn btn-outline-secondary mb-1">Mountain Lake</button></a></li>
                    </ul></p>
            </div>
        </div> 
        <div class="row md-auto mt-2 mb-2 mr-2">
            <div class="col-md-auto">
                <img src="{{ loc_imgs[3] }}" alt="Floyd">
            </div>
            <div class="col-xl-2">
                <p>Floyd, Virginia</p>
                <p>Highlights: 
                    <ul>
                        <li><a href="https://www.floydartcenter.org/" target="_blank"><button class="btn btn-outline-secondary mb-1">Center for Arts</button></a></li>
                        <li><a href="https://www.floydhistoricalsociety.org/" target="_blank"><button class="btn btn-outline-secondary mb-1">Floyd Historical Society</button></a></li> 
                        <li><a href="https://www.virtualblueridge.com/parkway-place/rakes-mill-pond/" target="_blank"><button class="btn btn-outline-secondary mb-1">Rakes Mill Pond</button></a></li>
                    </ul></p>
            </div>
        </div> 
        <div class="row mt-2 mb-2 mr-2">
            <div class="col-md-auto">
                <img src="{{ loc_imgs[4] }}" alt="Montgomery>">
            </div>
            <div class="col-xl-2">
                <p>Montgomery, Virginia</p>
                <p>Highlights: 
                    <ul>
                        <li><a href="https://vt.edu" target="_blank"><button class="btn btn-outline-secondary mb-1">Virginia Tech</button></a></li>
                        <li><a href="https://www.christiansburg.org/" target="_blank"><button class="btn btn-outline-secondary mb-1">Christansburg</button></a></li> 
                        <li><a href="https://www.blacksburg.gov/" target="_blank"><button class="btn btn-outline-secondary mb-1">Blacksburg</button></a></li>
                    </ul></p>
            </div>
        </div> 
    </div>
{% endblock content %}